body {
  background-color: #282c34;
  color: #ffffff;
}

.App {
  text-align: center;
  flex: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 750px) {
  .movies-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 1%; 
    padding: 8%;
    justify-content: center;
  }
}

@media screen and (min-width: 750px) {
  .movies-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 3%; 
    padding: 3%;
    justify-content: left;
  }
}

.selbutton {
  background-color: darkslategray;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
  color: white;
}

.moviecards {
  width: 90%; 
  height: auto;
  background-color: #8080809a;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); 
}

/* Ensure the poster fits within the card */
.posters {
  max-width: 100%; /* Fit inside the card */
  border-radius: 10px;
  margin: 10px;
}

/* Align text nicely */
.moviecards p {
  text-align: center;
  margin: 10px 0;
}

/* Style the play button */
.playbutton {
  background-color: #ff4848;
  width: 100%; /* Adjust for better alignment */
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.card-headline {
  flex-direction: column;
}

.playbutton p {
  padding: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
